<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flashbuddy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.flashbuddy.FlashBuddy"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.flashbuddy.FlashBuddyDisplayedMessageActivity"
            android:label="@string/title_activity_flash_buddy_displayed_message"
            android:parentActivityName="com.example.flashbuddy.FlashBuddy" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.flashbuddy.FlashBuddy" />
        </activity>
        <activity
            android:name="com.example.flashbuddy.FlashBuddyUserActivity"
            android:label="@string/title_activity_flash_buddy_user"
            android:parentActivityName="com.example.flashbuddy.FlashBuddy" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.flashbuddy.FlashBuddy" />
        </activity>
        <activity
            android:name="com.example.flashbuddy.FlashBuddyCreateUserActivity"
            android:label="@string/title_activity_flash_buddy_create_user"
            android:parentActivityName="com.example.flashbuddy.FlashBuddy" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.flashbuddy.FlashBuddy" />
        </activity>
        <activity
            android:name="com.example.flashbuddy.FlashBuddyModifyDecksActivity"
            android:label="@string/title_activity_flash_buddy_modify_decks"
            android:parentActivityName="com.example.flashbuddy.FlashBuddy" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.flashbuddy.FlashBuddy" />
        </activity>
        <activity
            android:name="com.example.flashbuddy.XMLParseActivity"
            android:label="@string/title_activity_xmlparse" >
        </activity>
        <activity
            android:name="com.example.flashbuddy.FlashBuddyCreateDeckActivity"
            android:label="@string/title_activity_flash_buddy_create_deck" >
        </activity>
        <activity
            android:name="com.example.flashbuddy.FlashBuddyStudyDecksActivity"
            android:label="@string/title_activity_flash_buddy_study_decks" >
        </activity>
        <activity
            android:name="com.example.flashbuddy.FlashBuddyExecStudyDeck"
            android:label="@string/title_activity_flash_buddy_exec_study_deck" >
        </activity>
        <activity
            android:name="com.example.flashbuddy.HelpLogin"
            android:label="@string/help_login" >
        </activity>
        <activity
            android:name="com.example.flashbuddy.FlashBuddyCardInputActivity"
            android:label="@string/title_activity_flash_buddy_card_input" >
        </activity>
        <activity
            android:name="com.example.flashbuddy.FlashBuddyEditDeckActivity"
            android:label="@string/title_activity_flash_buddy_edit_deck" >
        </activity>
        <activity
            android:name="com.example.flashbuddy.FlashBuddyTimerActivity"
            android:label="@string/title_activity_flash_buddy_timer" >
        </activity>
    </application>

</manifest>
